fastapi
uvicorn[standard]
pydantic[email]
python-multipart
email-validator
jinja2
pydantic-settings
python-dotenv
aiohttp
httpx
psycopg[binary]
psycopg-pool
asyncpg
redis
numpy
scikit-learn
python-socketio
rq==1.15.1
apscheduler
pandas
